LoraWanCode/.vs/LoraWanCode/CopilotIndices/0.2.1634.3922/CodeChunks.db
LoraWanCode/.vs/LoraWanCode/CopilotIndices/0.2.1634.3922/CodeChunks.db-shm
LoraWanCode/.vs/LoraWanCode/CopilotIndices/0.2.1634.3922/CodeChunks.db-wal
LoraWanCode/.vs/LoraWanCode/CopilotIndices/0.2.1634.3922/SemanticSymbols.db
LoraWanCode/.vs/LoraWanCode/CopilotIndices/0.2.1634.3922/SemanticSymbols.db-shm
LoraWanCode/.vs/LoraWanCode/CopilotIndices/0.2.1634.3922/SemanticSymbols.db-wal
LoraWanCode/.vs/LoraWanCode/FileContentIndex/713712df-a076-4432-8c14-ba27b19daee7.vsidx
LoraWanCode/.vs/LoraWanCode/v17/.suo
LoraWanCode/.vs/LoraWanCode/v17/Browse.VC.db
LoraWanCode/.vs/LoraWanCode/v17/Browse.VC.db-shm
LoraWanCode/.vs/LoraWanCode/v17/Browse.VC.db-wal
LoraWanCode/.vs/LoraWanCode/v17/Browse.VC.opendb
LoraWanCode/.vs/LoraWanCode/v17/DocumentLayout.json
LoraWanCode/src/arduino folders read me.txt
