header {
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.header-content h1 {
  margin: 0;
}
